body {
  font-family: sans-serif;
  background-color: #6495ED;
  max-width: 40em;
  padding: 0 5%;
  margin: 25px 50px 75px 100px;
  }
h1 {
  color: white;
}
h3 {color: white; font-family: cursive; text-align: center }
h4 {color: white; border: 5px solid white; padding: 25px}
h5 {color: white; font-style: italic}
ul {color: white}
